<table class="container2">
    <tr class="row1">
        <td colspan="3">
            <div class="featureLabel">
                <label>Features</label>
            </div>
        </td>
    </tr>
    <tr class="row2">
        <td>
            <div class="float-child">
                <div>
                    <img class="img" src="/assets/Logo4.png">
                </div>
                <label>State Scholarship</label>
                <pre>
This field provide you to
access the state scholarship
available based on your eligibility.
                </pre>
            </div>
        </td>
        <td>
            <div class="float-child">
                <div>
                    <img class="img" src="/assets/Logo2.jpg">
                </div>
                <label>Central Scholarship</label>
                <pre>
This field gives you the
information about the central level
scholarship schemes.
                </pre>
            </div>
        </td>
        <td>
            <div class="float-child">
                <div>
                    <img class="img" src="/assets/Logo3.png">
                </div>
                <label>Verification</label>
                <pre>
This field verifies a applicant
whether he/she belongs to which
state and which educational institute.
                </pre>
            </div>
        </td>
    </tr>
</table>
<div class="div">
    <div>
        <img class="img1" src="/assets/Features2.png">
    </div>
    <div>
        <pre class="pre">EMPOWERING STUDENTS TO BECOME SCHOLARS</pre>
        <img class="img2" src="/assets/Features3.png">
    </div>
</div>