<div class="container">
    <table>
        <tr>
            <td>
                <a href="">
                    <div class="div">
                        Pre-Matric Scholarship for SC Students - Andhra Pradesh
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="">
                    <div class="div">
                        Post-Matric Scholarship for SC Students - Andhra Pradesh
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="">
                    <div class="div">
                        Pre-Matric Scholarship to OBC Students - Andhra Pradesh
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="">
                    <div class="div">
                        Pre-Matric Scholarship to ST Students - Andhra Pradesh
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="">
                    <div class="div">
                        Post-Matric Scholarship to OBC Students - Andhra Pradesh
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="">
                    <div class="div">
                        Post-Matric Scholarship to OBC Students - Andhra Pradesh
                    </div>
                </a>
            </td>
        </tr>
    </table>
</div>