<div class="container">
    <table>
        <tr>
            <td>
                <a href="">
                    <div class="div">
                        NEC Merit Scholarship
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="">
                    <div class="div">
                        Central Sector Scheme of Scholarships for College and University Students
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="">
                    <div class="div">
                        National Means cum Merit Scholarship
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="">
                    <div class="div">
                        Pre-Matric Scholarship for Students with Disability
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="">
                    <div class="div">
                        Post-Matric Scholarship for Students with Disability
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="">
                    <div class="div">
                        Merit cum Means Scholarship for Professional and Technical Courses
                    </div>
                </a>
            </td>
        </tr>
    </table>
</div>