<div class="div">
    <h2 class="text-center">Scholarship Application Form</h2>
    <form class="form-horizontal">
        <div>
            <div class="col-sm-6" id="title1">
                <label>Personal Details</label>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-sm-4">Full Name<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : Arun K">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4">Gender<sup>*</sup></label>
                    <div class="col-sm-8">
                        <select class="form-select" aria-label="Default select example">
                            <option selected disabled hidden>Gender</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                            <option value="3">Do not say</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-sm-4">Date Of Birth<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4">Email ID<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : xyz@gmail.com">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Phone Number<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : 9876543210">
                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label col-sm-3">Permanent Address<sup>*</sup></label>
                    <div class="col-sm-5">
                        <textarea type="text" class="form-control" rows="5" placeholder="Eg : No.123,
ABC Appartments,
Madurai - 625001"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label col-sm-3">Residency Address<sup>*</sup></label>
                    <div class="col-sm-5">
                        <textarea type="text" class="form-control" rows="5" placeholder="Eg : No.123,
ABC Appartments,
Madurai - 625001"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Aadhar Number<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : 1111 2222 3333 4444">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Category<sup>*</sup></label>
                    <div class="col-sm-8">
                        <select class="form-select" aria-label="Default select example">
                            <option selected disabled hidden>Category</option>
                            <option value="1">OBC</option>
                            <option value="2">MBC</option>
                            <option value="3">BCM</option>
                            <option value="4">SC</option>
                            <option value="5">ST</option>
                            <option value="6">FC</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">No of Siblings<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : 1">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Nationality<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : India">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Permanent Residence<sup>*</sup></label>
                    <div class="col-sm-8">
                        <select class="form-select" aria-label="Default select example">
                            <option selected disabled hidden>Permanent Residence</option>
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Disability<sup>*</sup></label>
                    <div class="col-sm-8">
                        <select class="form-select" aria-label="Default select example">
                            <option selected disabled hidden>Disability</option>
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="col-sm-6" id="title1">
                <label>Parent Details</label>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-sm-4">Father Name<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : Kathir G">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4">Mother Name<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : Anandhi K">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-sm-6">Parent's Phone Number<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : 9876543210">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4">Father's Occupation<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : Company Name - Role">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Mother's Occupation<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : House Wife">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-6 control-label">Family Annual Income (In Lakhs)<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : 500000">
                    </div>
                </div>
            </div>

        </div>

        <div>
            <div class="col-sm-6" id="title1">
                <label>Education Details</label>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-sm-4">College Name<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control"
                            placeholder="Eg : ABC College of Engineering and Technology">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4">Degree<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : Bachelor of Engineering">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-sm-6">Branch<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : Computer Science and Engineering">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4">Year of Study<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : 3">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">CGPA (upto current semester)<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : 8.4">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Expected Graduation Year<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : 2025">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Full Time/Part Time<sup>*</sup></label>
                    <div class="col-sm-8">
                        <select class="form-select" aria-label="Default select example">
                            <option selected disabled hidden>Full Time/Part Time</option>
                            <option value="1">Full Time</option>
                            <option value="2">Part Time</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-6 control-label">City<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : Chennai">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-6 control-label">State<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : Tamil Nadu">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-6 control-label">Institution Type<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : Private">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-6 control-label">Institution Code<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : 9213">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">First Graduate<sup>*</sup></label>
                    <div class="col-sm-8">
                        <select class="form-select" aria-label="Default select example">
                            <option selected disabled hidden>First Graduate</option>
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="col-sm-6" id="title1">
                <label>Currently Scholarship Details</label>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-6 control-label">Currently Availing any Scholarship<sup>*</sup></label>
                    <div class="col-sm-8">
                        <select class="form-select" aria-label="Default select example">
                            <option selected disabled hidden>Currently Availing any Scholarship</option>
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-sm-6">Scholarship Name (if yes)</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control"
                            placeholder="Eg : Pre Matric Scholarship for Students with Disability">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-8">Duration of Scholarship in months (if yes)</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : 12">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-6 control-label">End year of the Scholarship (if yes)</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : 2023">
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="col-sm-6" id="title1">
                <label>New Scholarship Details</label>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-6 control-label">Scholarship Provider Sector<sup>*</sup></label>
                    <div class="col-sm-8">
                        <select class="form-select" aria-label="Default select example">
                            <option selected disabled hidden>Sector</option>
                            <option value="1">Central</option>
                            <option value="2">State</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-6 control-label">Scholarship Name<sup>*</sup></label>
                    <div class="col-sm-8">
                        <select class="form-select" aria-label="Default select example">
                            <option selected disabled hidden>Scholarship</option>
                            <option value="1">NEC Merit Scholarship</option>
                            <option value="2">National Means cum Merit Scholarship</option>
                            <option value="3">Pre Matric Scholarship for Students with Disability</option>
                            <option value="4">Post Matrix Scholarship for Students with Disability</option>
                            <option value="5">Pre Matric Scholarship for SC Students</option>
                            <option value="6">Post Matric Scholarship to OBC Students</option>
                            <option value="7">Post Matric Scholarship to ST Students</option>
                            <option value="8">Prime Minister's Scholarship Scheme for RPF/RPSF</option>
                            <option value="9">Central Sector Scheme of Scholarships for College and University Students
                            </option>
                            <option value="10">National Means cum Merit Scholarship</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-6 control-label">Scholarship Type<sup>*</sup></label>
                    <div class="col-sm-8">
                        <select class="form-select" aria-label="Default select example">
                            <option selected disabled hidden>Type</option>
                            <option value="1">Fresh</option>
                            <option value="2">Renewal</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="col-sm-6" id="title1">
                <label>New Scholarship Details</label>
            </div>

            <div class="col-sm-6">
                <label for="formFileMultiple" class="col-sm-6 control-label">Community Certificate</label>
                <div class="col-sm-8">
                    <input class="form-control" type="file" id="formFile">
                </div>
            </div>

            <div class="col-sm-6">
                <label for="formFileMultiple" class="col-sm-6 control-label">Income Certificate</label>
                <div class="col-sm-8">
                    <input class="form-control" type="file" id="formFile">
                </div>
            </div>

            <div class="col-sm-6">
                <label for="formFileMultiple" class="col-sm-8 control-label">Disablitiy Certificate (if disabled person)</label>
                <div class="col-sm-8">
                    <input class="form-control" type="file" id="formFile">
                </div>
            </div>

            <div class="col-sm-6">
                <label for="formFileMultiple" class="col-sm-6 control-label">Marksheet</label>
                <div class="col-sm-8">
                    <input class="form-control" type="file" id="formFile">
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary waves-effect waves-light " id="btn-submit" routerLink="/home">Apply</button>
        </div>
    </form>
</div>