
<div class="div">
    <h2 class="text-center">Institution Registration</h2>
    <form class="form-horizontal">
        <div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-sm-4">Institution Name<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : ABC College of Engineering and Technology">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-sm-4">Email ID<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : xyz@gmail.com">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Phone Number<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : 9876543210">
                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label col-sm-3">Address<sup>*</sup></label>
                    <div class="col-sm-5">
                        <textarea type="text" class="form-control" rows="5" placeholder="Eg : PSNACET,
Kothandaraman Nagar,
Dindigul - 624622"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Accreditation Status<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : NAAC - A++">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Institution Type<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : Private">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Institution Code<sup>*</sup></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Eg : 9213">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary waves-effect waves-light " id="btn-submit" routerLink="/home">Apply</button>
        </div>
    </form>
</div>